body {
    background-color: rgb(230, 230, 230);
}

#mapid {
    height: 90vh;
    width: 80%;
    display: inline-block;
    border: 2px solid rgb(75, 75, 75);
}
#panel {
    width: 18%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding: 10px;
    font-family: "Arial", sans-serif;
    color: rgb(75, 75, 75);
}
#title-panel {
    width: 80%;
    height: 7vh;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    font-family: "Arial", sans-serif;
    color: rgb(75, 75, 75);
}
.range-slider {
    width: 250px;
}
.step {
	width: 40px;
}
.step img {
	width: 90%;
    height: auto;
}
#forward {
    float: right;
}
#reverse {
    float: left;
}

.leaflet-popup-content p {
    margin: 0.2em 0;
}
.sequence-control-container {
    width: 350px;
    height: 30px;
    background-color: rgba(255,255,255,0.8);
    border-radius: 10px;
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
}
.legend-control-container {
    width: auto;
    height: auto;
    background-color: rgba(255,255,255,0.8);
    border-radius: 10px;
    padding: 10px;
    line-height: 5px;
    text-align: center;
    border: solid gray 1px;
    font-family: "Arial", sans-serif;
}
.year-step {
    font-size: 30px;
}

.leaflet-control-layers-toggle:after{ 
    color:#000 ;
}
.leaflet-control-layers-toggle{ 
    width:block;
    background-position:3px 50% ;
    padding:3px;
    padding-left:36px;
    text-decoration:none;
    line-height:36px;
}
.data-control-container {
    width: auto;
    background-color: rgba(255,255,255,0.8);
    border-radius: 10px;
    padding: 10px;
    border: solid gray 1px;
}