body {
    background-color: rgb(230, 230, 230);
}

#mapid {
    height: 90vh;
    width: 70%;
    display: inline-block;
    border: 2px solid rgb(75, 75, 75);
    margin: 0 0 0 10px;
}
#text-panel {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 0 0 0 20px;
    font-family: "Arial", sans-serif;
    color: rgb(75, 75, 75);
}

#title-panel {
    width: 80vw;
    height: 7vh;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-size: 5vh;
    font-weight: bold;
    font-family: "Arial", sans-serif;
    color: rgb(75, 75, 75);
}
.range-slider {
    width: 20vw;
}
.step {
    width: 6vh;
    height: 5vh;
    margin-top: -2px;
    border-radius: 6px;
    border: none;
    outline: none;
    background-color: rgb(210, 210, 210);
}
.step img {
	width: 70%;
    height: auto;
    margin-top: -10px;
    outline: none;
}
#forward {
    float: right;
}
#reverse {
    float: left;
}

.leaflet-popup-content p {
    margin: 0.2em 0;
}
.sequence-control-container {
    width: 30vw;
    height: 50px;
    background-color: rgba(255,255,255,0.8);
    border-radius: 10px;
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
}
.legend-control-container {
    width: auto;
    height: auto;
    background-color: rgba(255,255,255,0.8);
    border-radius: 10px;
    padding: 10px;
    line-height: 5px;
    text-align: center;
    border: solid gray 1px;
    font-family: "Arial", sans-serif;
}
.year-step {
    font-size: 20px;
}

.leaflet-control-layers-toggle:after{ 
    color:#000 ;
}
.leaflet-control-layers-toggle{ 
    width:block;
    background-position:3px 50% ;
    padding:3px;
    padding-left:36px;
    text-decoration:none;
    line-height:36px;
}
.data-control-container {
    width: auto;
    background-color: rgba(255,255,255,0.8);
    border-radius: 10px;
    padding: 10px;
    border: solid gray 1px;
}

/* Modal that activates if user is on mobile device*/
#mobile-screen {
    background-color:#494949;
}
#mobile-screen-content {
    background-color:#dadfe1;
    text-align: center;
    margin: auto;
    width: 80vw;
}

@media screen and (max-width: 1150px) {
    #text-panel {font-size: 2vh;}
    .range-slider { width: 15vw;}
}
@media screen and (max-width: 1000px) {
    #mapid {width: 95vw}
    #text-panel {width: 90vw; margin-top: 10px;}
    .step { width: 4vw; margin-top: -2px;}
}
@media screen and (max-width: 850px) {
    #title-panel {width: 90vw; height: 8vh; font-size: 4vw}
}